@import "../../../index.scss";

.objectRow {
  border: 1px solid black;
  color: $dark1;
  background: white;
  opacity: 0.9;
  width: 80%;
  margin: 0 auto;

  .proizvodiJumbo {
    padding-top: 5vh;
    h3 {
      display: inline-block;
      text-align: center;
    }
  }

  table {
    margin: 0 auto;
    border: none;
    border-collapse: collapse;
  }
  table tr {
    border-bottom: 2px solid $dark1;
  }

  table td {
    padding: 1rem;

    button {
      background-color: $green1;
      border: none;
    }
  }
  table tr:nth-child(odd) td {
    opacity: 1;
    // background: grey;
  }
  table tr:nth-child(even) td {
    // color: green;
  }
}
