@import "../../index.scss";

.contact__row {
  display: flex;
  background: rgba(97, 114, 109, 0.596);
  // border: 1px solid $green2;
  margin: 0 8%;
  // opacity: 0.95;
  height: 85vh;
  // padding: 5%;
  .contact__row-left {
    flex: 1;
  }
  .contact__row-right {
    flex: 1;
  }
}

.kartica__logo {
  padding-top: 5%;
  text-align: center;
  display: flex;
  .flex-slika {
    flex: 1;
    img {
      width: 20vw;
    }
  }
  .flex {
    flex: 1;
  }

  h5 {
    padding-top: 5%;
    font-weight: bold;
  }
}
