@import "../../index.scss";

.contact__row {
  width: 80vw;
  background: rgba(255, 255, 255, 0.89);
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
  height: 85vh;

  .contact__row-left {
    flex: 1;
  }
  .contact__row-right {
    flex: 1;
  }
}

.kartica__logo {
  padding-top: 5%;
  text-align: center;
  display: flex;
  .flex-slika {
    flex: 1;
    img {
      width: 20vw;
    }
  }
  .flex {
    flex: 1;
  }

  h5 {
    padding-top: 5%;
    font-weight: bold;
  }
}
