@import "../../index.scss";

.topBar__div {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  .topBar__link {
    flex: 1;
    font-size: 0.8rem;
    line-height: 0.8rem;
    padding: 0.1rem;
    text-align: left;
    color: $green3;
    i {
      font-size: 1em;
      margin-right: 0.2rem;
    }
  }
}

@media screen and(min-width:768px) {
  .topBar__div {
    flex-direction: row;
    width: 80%;
    margin: 0 auto;

    .topBar__link {
      font-size: 1rem;
      line-height: 1.3rem;
      font-weight: 500;
      padding: 0.3rem;
      justify-content: space-between;
      i {
        margin-right: 0.5rem;
      }
    }
  }
}
