@import "../../index.scss";

.topBar-div {
  display: flex;
  text-decoration: none;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid $green3;

  .topBar-link {
    flex: 1;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3rem;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    color: $green3;
  }

  .btn-mail,
  .btn-phone,
  .btn-clock {
    margin-right: 0.5rem;
    color: $green3;
  }
}

.hover {
  color: white;
}
