@import "../../index.scss";

button {
  z-index: +999;
  cursor: pointer;
  color: white;
  background: rgb(8, 124, 43);
  border: 1px solid white;
  border-radius: 5px !important;
  outline: none;
  padding: 0.1em 0.8em;

  &:hover {
    animation: buttonAnimation 0.3s forwards ease-in-out;
  }
}

@keyframes buttonAnimation {
  from {
    background: rgb(8, 124, 43);
  }
  to {
    background: rgb(4, 80, 27);
  }
}
