@import "../../../index.scss";

.navBar-div {
  display: none;
}

@media screen and(min-width:768px) {
  .navBar-div {
    display: flex;
    justify-content: space-evenly;
    .links {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .nav-link {
        font-size: 1.2rem;
        line-height: 2.5rem;
        text-decoration: none;
        color: $green2;
        font-weight: bold;
        &:hover {
          color: $green1;
        }
        &.active {
          color: $green1;
        }
      }
    }
  }
}
