@import "../../../index.scss";

.navBar {
  display: none;
}

@media screen and(min-width:768px) {
  .navBar {
    flex: 3;
    display: flex;
    justify-content: space-around;
    .links {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .nav-link {
        padding: 0 0.5rem;
        font-size: 1.2rem;
        text-decoration: none;
        color: $green2;
        font-weight: bold;
        z-index: +100;
        &:hover {
          color: $green1;
        }
        &.active {
          color: $green1;
        }
      }
    }
  }
}
@media screen and(min-width:2400px) {
  .navBar {
    .links {
      .nav-link {
        font-size: 1.6rem;
      }
    }
  }
}
