@import "../../index.scss";

.selection {
  // border: 1px solid red;
  // padding-left: 1rem;
  width: 90%;
  display: flex;
  margin: 1rem auto;
  h3 {
    margin: 0;
    padding: 0;
    line-height: 1.2rem;
    margin-right: 1rem;
    font-size: 1rem;
    vertical-align: middle;
  }
  select {
    text-align: center;
    text-align-last: center;
    background: $green1;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    option {
      text-align: center;
    }
    &:focus {
      background: $green1;
    }
  }
}
@media screen and(min-width:768px) {
  .selection {
    h3 {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}
