@import "../../index.scss";

.selection {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  margin: 0 auto;
  text-align: center;
  h3 {
    // line-height: 1rem;
    // margin-right: 1rem;
    // font-size: 1rem;
    // vertical-align: middle;
  }
  select {
    text-align: center;
    text-align-last: center;
    background: $green1;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    outline: none;
    border: none;
    width: 80%;
    border-radius: 5px;
    cursor: pointer;

    option {
      text-align: center;
    }
    &:focus {
      background: $green1;
    }
  }
}
@media screen and(max-width:767px) {
  .selection {
    select {
      margin: 0 auto;
    }
  }
}
@media screen and(min-width:768px) {
  .selection {
    flex-direction: row;
    padding: 1rem;
    h3 {
      margin-right: 1rem;
      font-size: 1.2rem;
      line-height: 2rem;
    }
    select {
      width: auto;
      font-size: 1.2rem;
    }
  }
}
