@import "../../index.scss";

.action__product {
  position: fixed;
  top: 5rem;
  width: 100%;
  transform: translateX(-400%);
  transition: transform 1s ease-in-out !important;
  text-align: center;
  z-index: +999;
  .centralImg {
    position: absolute;
    left: 0;
    width: 80%;
    height: auto;
    border-radius: 1.5rem;
    padding: 10px;
  }
  .info-close {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 30px;
    height: 30px;
    line-height: 32px;
    border-radius: 50%;
    border: 2px solid $green2;
    z-index: +999;
    i {
      font-size: 1.4rem;
      transition: all 0.3s linear;
      color: green;
    }
  }
  .changePage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 92vh;
    z-index: +999;
    padding: 2px 15px;
    font-size: 1.5rem;
    line-height: 2rem;
    i {
      margin: 0 5px;
      font-size: 1.5rem;
      line-height: 2rem;
      color: $green2;
      cursor: pointer;
    }
    span {
      margin: 0 5px;
    }
  }
}

.action__product.open {
  transform: translateX(0);
}

@media screen and(min-width:768px) {
  .action__product {
    position: fixed;
    top: 0;
    transform: translateX(-400%);
    transition: transform 2s ease-in-out;
    color: white;
    .test {
      .left {
        position: absolute;
        top: 25vh;
        left: 10%;
        width: auto;
        height: 45vh;
        border-radius: 5%;
        z-index: +100;
        cursor: pointer;
        img {
          width: auto;
          height: 100%;
          overflow: hidden;
          border-radius: 5%;
        }
      }
      .right {
        position: absolute;
        top: 25vh;
        right: 10%;
        width: auto;
        height: 45vh;
        border-radius: 5%;
        z-index: +100;
        cursor: pointer;
        img {
          width: auto;
          height: 100%;
          overflow: hidden;
          border-radius: 5%;
        }
      }
      .right::before,
      .left::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(78, 78, 78, 0.8);
        border-radius: 5%;
      }
      .right:hover::before,
      .left:hover::before {
        background: rgba(85, 85, 85, 0.4);
      }
    }
    .centralImg {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
      width: auto;
      height: 92vh;
      z-index: +999;
    }

    .info-close {
      z-index: +999;
      cursor: pointer;
      i {
        &:hover {
          transform: rotate(90deg);
          color: red;
        }
      }
    }
  }
  .action__product.open {
    transform: translateX(0);
  }
}
