@import "../../index.scss";

.action__product {
  position: fixed;
  width: 100%;
  transform: translateX(-400%);
  transition: transform 1s ease-in-out !important;
  text-align: center;
  .info-close {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 30px;
    height: 30px;
    line-height: 32px;
    border-radius: 50%;
    border: 2px solid $green2;
    z-index: +999;
    cursor: pointer;
    i {
      font-size: 1.4rem;
      transition: all 0.3s linear;
      color: green;
      &:hover {
        transform: rotate(90deg);
        color: red;
      }
    }
  }
}

.action__product.open {
  transform: translateX(0);
}

@media screen and(min-width:768px) {
  .action__product {
    position: fixed;
    top: 0;
    transform: translateX(-400%);
    transition: transform 2s ease-in-out;
    color: white;
    z-index: +999;
    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
      width: auto;
      height: 100vh;
      z-index: +999;
      border-radius: 1.5rem;
    }
  }
  .action__product.open {
    transform: translateX(0);
  }
}
