@import "../../index.scss";

.action__product {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 570px;
  overflow-y: scroll;
  transform: translateX(-400%);
  transition: transform 1s ease-in-out !important;
  text-align: center;
  z-index: +999;
  .centralImg {
    width: calc(90vw - 25%);
    height: auto;
    border-radius: 1.5rem;
    margin-top: 3rem;
  }
  .info-close {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    line-height: 32px;
    border-radius: 50%;
    border: 2px solid $green2;
    z-index: +999;
    i {
      font-size: 1.4rem;
      transition: all 0.3s linear;
      color: red;
    }
  }
  .changePage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(20vh + 10%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: +999;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    i {
      margin: 0 0.1rem;
      font-size: 2.5rem;
      line-height: 2.5rem;
      color: $green2;
      cursor: pointer;
    }
    span {
      margin: 0 5px;
    }
  }
  .changePage > span {
    display: none;
  }
  .test {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    .left {
      position: relative;
      height: 25vh;
      img {
        height: 100%;
        border-radius: 5%;
      }
    }
    .right {
      position: relative;
      height: 25vh;
      img {
        height: 100%;
        overflow: hidden;
        border-radius: 5%;
      }
    }
    .right::before,
    .left::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(78, 78, 78, 0.8);
      border-radius: 5%;
    }
    .right:hover::before,
    .left:hover::before {
      background: rgba(85, 85, 85, 0.4);
    }
  }
}

.action__product.open {
  transform: translateX(0);
}

@media screen and(min-width:768px) {
  .action__product {
    position: fixed;
    transform: translateX(-400%);
    transition: transform 2s ease-in-out;
    color: white;
    height: 100%;
    overflow: hidden;
    .test {
      .left {
        position: absolute;
        top: 25vh;
        left: 10%;
        width: auto;
        height: 45vh;
        border-radius: 5%;
        z-index: +100;
        cursor: pointer;
        img {
          width: auto;
          height: 100%;
          overflow: hidden;
          border-radius: 5%;
        }
      }
      .right {
        position: absolute;
        top: 25vh;
        right: 10%;
        width: auto;
        height: 45vh;
        border-radius: 5%;
        z-index: +100;
        cursor: pointer;
        img {
          width: auto;
          height: 100%;
          overflow: hidden;
          border-radius: 5%;
        }
      }
      .right:hover::before,
      .left:hover::before {
        background: rgba(85, 85, 85, 0.4);
      }
    }
    .centralImg {
      position: absolute;
      top: -5%;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
      width: auto;
      height: 90vh;
      z-index: +999;
    }

    .info-close {
      z-index: +999;
      cursor: pointer;
      i {
        &:hover {
          transform: rotate(90deg);
          color: red;
        }
      }
    }
    .changePage {
      width: auto;
      top: 92vh;
      i {
        font-size: 1.5rem;
      }
    }
    .changePage > span {
      display: inline;
      line-height: 2.5rem;
    }
  }
  .action__product.open {
    transform: translateX(0);
  }
}
@media screen and(min-width:2400px) {
  .action__product {
    max-width: 2400px;
    margin: 0 auto;
    .centralImg {
      margin-top: 5rem;
    }
    .changePage {
      top: 94vh;
    }
  }
}
