@import "../../index.scss";

.card1 {
  color: $green1;
  margin: 0 0.3rem;
  text-shadow: 2px 3px 5px grey;

  h2 {
    color: $green3;
    font-weight: 600;
    padding-top: 1.5rem;
    text-align: center;
    font-size: 1.4rem;
  }
  p {
    text-align: justify;
    text-justify: inter-word;
    padding: 0.6rem;
    letter-spacing: 0.1rem;
    color: white;
    line-height: 1.6rem;
    font-size: 1rem;
  }
}
.card1 > button {
  margin-left: 0.5rem;
}
.card2 {
  width: 22rem;
  margin: 5rem 0 2rem 0;
  border: 1px solid white;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  animation: pulse 2s infinite;

  .card2__phone {
    font-weight: bold;
    .btn__phone {
      letter-spacing: 0.1rem;
      a {
        color: white;
        text-decoration: none;
        font-size: 1.4rem;
        i {
          font-size: 1.4rem;
          margin-right: 0.3rem;
        }
      }
    }
  }
  .card2__text {
    font-size: 1rem;
    line-height: 1.5rem;
    span {
      font-size: 1.2rem;
      color: $green1;
      font-weight: 900;
    }
  }
}
@media screen and(min-width:768px) {
  .card1 {
    width: 60vw;
    padding: 1.2rem;
    h2 {
      font-size: 1.8rem;
      text-align: left;
      padding: 0;
      margin: 0;
    }
    .card1-text {
      padding: 0.5rem 0 1.5rem 0;
      line-height: 2rem;
      font-size: 1.2rem;
    }
    div {
      margin: 0;
    }
  }
  .card1 > button {
    margin-left: 0;
  }
  .card2 {
    position: absolute;
    bottom: 10vh;
    right: 25vw;
    font-size: 1.4rem;
    width: 25rem;
    padding: 0.1rem 0.5rem;
    cursor: pointer;
    .card2__text {
      font-size: 1rem;
    }
    .btn__phone {
      letter-spacing: 0.1rem;
      a {
        font-size: 1.4rem;
        i {
          font-size: 1.4rem;
        }
      }
    }
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.9);
  }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(195, 195, 195, 0.9);
  }
  100% {
    box-shadow: 0 0 0 1rem rgba(195, 195, 195, 0);
  }
}
