@import "../../index.scss";

.card1 {
  color: $green1;
  margin: 0 0.3rem;
  text-shadow: 2px 3px 5px grey;
  p {
    text-align: justify;
    padding: 0.5rem 0.6rem;
    letter-spacing: 0.07rem;
    color: white;
    line-height: 1.6rem;
    font-size: 0.8rem;
    text-shadow: 2px 4px 5px black;
  }
}
.card1 > button {
  margin-left: 0.5rem;
}
.card2 {
  width: 22rem;
  margin: 3rem 0 0.5rem 0;
  border: 1px solid white;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.45);
  animation: pulse 2s infinite;

  .card2__phone {
    font-weight: bold;
    .btn__phone {
      letter-spacing: 0.1rem;
      a {
        color: white;
        text-decoration: none;
        font-size: 1.4rem;
        i {
          font-size: 1.4rem;
          margin-right: 0.3rem;
        }
      }
    }
  }
  .card2__text {
    font-size: 1rem;
    line-height: 1.5rem;
    span {
      font-size: 1.2rem;
      color: $green1;
      font-weight: 900;
    }
  }
}
@media screen and(max-width:767px) {
  .card1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    order: 2;
    background: white;
    clip-path: polygon(0 1.2rem, 100% 0, 100% 100%, 0 100%);
    padding: 1.8rem 0rem 0.5rem 0;
    margin: 0;
    text-align: right;
    .card1-text {
      margin: 0;
      color: $green2;
      text-shadow: none;
      text-align: right;
      font-size: 0.9rem;
      font-style: italic;
    }
  }
  .card1 > button {
    margin-top: 0.2rem;
  }
  .card1 > button:last-child {
    left: 0;
    margin-right: 0.5rem;
    padding: 0.2rem 1.2rem;
  }
  .card2 {
    width: 95%;
    max-width: 360px;
    position: absolute;
    bottom: 0;
    margin-bottom: 16rem;
    .card2__text {
      font-size: 0.9rem;
      span {
        font-size: 1rem;
      }
    }
  }
}

@media screen and(min-width:768px) {
  .card1 {
    width: 60%;
    padding: 0.6rem 1.2rem;
    .card1-text {
      padding: 0rem 0 0.5rem 0;
      line-height: 2rem;
      font-size: 1.2rem;
    }
    div {
      margin: 0;
    }
  }
  .card1 > button {
    margin-left: 0;
    margin-top: 0.5rem;
  }
  .card2 {
    position: absolute;
    bottom: calc(3rem + 10%);
    right: calc(1rem + 8%);
    font-size: 1.4rem;
    width: 25rem;
    padding: 0.1rem 0.5rem;
    background: rgba(0, 0, 0, 0.35);

    cursor: pointer;
    .card2__text {
      letter-spacing: 0.05rem;
      font-size: 1rem;
    }
    .btn__phone {
      letter-spacing: 0.5rem;
      a {
        font-size: 1.4rem;
        i {
          font-size: 1.4rem;
        }
      }
    }
  }
}
@media screen and(min-width:2400px) {
  .card2 {
    right: calc(18rem + 12%);
    width: 35rem;
    .card2__phone {
      .btn__phone {
        a {
          font-size: 2.2rem;
          i {
            font-size: 2.2rem;
          }
        }
      }
    }
    .card2__text {
      font-size: 1.4rem;
      line-height: 2.2rem;
      span {
        font-size: 1.4rem;
      }
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.9);
  }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(195, 195, 195, 0.9);
  }
  100% {
    box-shadow: 0 0 0 1rem rgba(195, 195, 195, 0);
  }
}
