@import "../../../index.scss";

.toggle {
  position: absolute;
  display: flex;
  top: 1rem;
  right: 1.5rem;
  flex-direction: column;
  justify-content: space-around;
  height: 2rem;
  // width: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: +100;
  &:focus {
    outline: none;
  }
  .toggle-button-line {
    width: 2rem;
    height: 0.3rem;
    background: $green2;
    transition: all 0.1s linear;
    &:active {
      background: $green1;
    }
  }
}
@media screen and(min-width:768px) {
  .toggle {
    display: none;
  }
}
