@import "../../index.scss";

.side-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 45%;
  max-width: 250px;
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px $green2;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
  z-index: 999;

  .logo {
    text-align: center;
    margin: 1rem auto;
    img {
      width: 120px;
    }
  }
  h2 {
    color: green;
    font-size: 1.2rem;
  }
  ul {
    margin-top: 30px;
    padding: 0.5rem;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }

  li {
    margin: 0.5rem 0;

    .top-link2 {
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid $green2;
      font-size: 1.2rem;
      font-weight: 500;
      text-decoration: none;
      text-transform: capitalize;
      color: $green2;

      &.active {
        color: $green1;
        font-weight: bold;
      }
    }
  }
}

.side-drawer.open {
  transform: translateX(0);
}

@media screen and(min-width:768px) {
  .side-drawer {
    display: none;
  }
}
