@import "../../index.scss";

.navBar-div {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  // align-items: center;
  color: #fff;
  font-size: 20px;

  .links {
    width: 100%;
    // border: 1px solid red;
    display: flex;
    justify-content: space-around;
    // flex-flow: wrap;
    color: #fff;
    align-items: center;

    .nav-link {
      text-decoration: none;
      color: $green2;
      font-weight: bold;
      &:hover {
        color: $green1;
      }
    }
    .active {
      color: $green1;
    }
  }
}
