@import "../../index.scss";
.kartica1 {
  color: $green1;
  .kartica1-tekst {
    background: transparent;
    margin-bottom: 20px;
    color: white;
    padding-top: 1rem;
    font-size: 1.2rem;
  }
}

.kartica2 {
  margin: 80px 1vw 0 0;
  border: 1px solid white;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.14);
  .kartica2-phone {
    font-weight: bold;
    i {
      margin-right: 5px;
    }
  }

  .kartica2-tekst {
    font-size: 1.1em;
    line-height: 1.4em;
    span {
      // font-size: 1.1em;
      color: $green1;
      font-weight: bold;
    }
  }
}
