@import "../../index.scss";

.product-main {
  .product-top {
    display: flex;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    text-align: center;
    animation: prdoucts__slader 80s linear infinite;
    min-width: 240px;
    height: 160px;
    padding: 1.5rem 0.5rem;
    .productName {
      position: absolute;
      top: 0;
      font-size: 1rem;
      line-height: 1.2rem;
      height: 1.2rem;
      vertical-align: middle;
    }

    .productImg {
      position: relative;
      flex: 2;
      img {
        position: absolute;
        left: 0;
        border-radius: 15%;
        width: 80%;
      }
    }
    .productParagraph {
      flex: 4;
      p {
        text-align: left;
        padding: 0 0.1rem;
        font-size: 0.8rem;
        line-height: 1rem;
      }
    }
    .productPack {
      display: none;
    }
    .productPrice {
      display: flex;
      position: absolute;
      bottom: 0px;
      left: 10px;

      .price1 {
        font-size: 0.8em;
        font-weight: 500;
        color: black;
        text-decoration: line-through;
        margin-right: 5px;
      }
      .price2 {
        font-size: 1em;
        font-weight: 700;
        color: red;
      }
    }
    .productButton {
      position: absolute;
      font-size: 0.7rem;
      line-height: 1.2rem;
      bottom: 5px;
      right: 5px;
    }
  }

  .product {
    display: flex;
    flex-direction: row;
  }
  .product__desc {
    display: none;
  }

  @keyframes prdoucts__slader {
    0% {
      transform: translateX(350%);
    }
    100% {
      transform: translateX(-750%);
    }
  }
}
.product.table {
  display: flex;
  border-bottom: 1px solid $green2;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}
@media screen and(min-width:768px) {
  .product-main {
    .product-top {
      margin: 0.8rem auto;
      height: 10rem;
      .productName {
        h2 {
          font-size: 0.8em;
          line-height: 1.4rem;
        }
      }
      .productPrice {
        bottom: 15px;
        .price2 {
          position: absolute;
          margin-top: 10px;
          margin-left: 20px;
        }
      }
      .productName {
        h2 {
          font-size: 0.8rem;
        }
      }
      .productButton {
        button {
          font-size: 0.8rem;
          line-height: 1.2rem;
          margin: 2px auto;
        }
      }
    }
  }
  .product.table {
    flex-direction: column;
    .product-top {
      width: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      .productImg {
        order: 1;
        flex: 1;
        img {
          width: 60%;
          margin: 0 auto;
        }
      }
      .productParagraph {
        display: none;
      }
      .productName {
        order: 2;
        flex: 2;
      }
      .productPack {
        order: 3;
        flex: 1;
      }
      .productPrice {
        order: 4;
        flex: 1;
        .oldPrice {
          text-decoration: line-through;
          color: red;
        }
        .price2 {
          font-size: 1.2rem;
        }
        .price1 {
          font-size: 1.2rem;
        }
      }
      .productButton {
        order: 5;
        flex: 1;
      }
    }
  }
  @keyframes prdoucts__slader {
    0% {
      transform: translateY(350%);
    }
    100% {
      transform: translateY(-650%);
    }
  }
}
