@import "../../index.scss";

.product__home {
  .product-top {
    display: flex;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    text-align: center;
    animation: prdoucts__slader 80s linear infinite;
    min-width: 240px;
    height: 160px;
    padding: 1.5rem 0.5rem;
    margin: 0 0.8rem;
    .productName {
      position: absolute;
      top: 0;
      font-size: 1rem;
      line-height: 1.6rem;
      height: 1.2rem;
      vertical-align: middle;
      text-align: center;
      width: 100%;
    }

    .productImg {
      position: relative;
      flex: 2;
      img {
        position: absolute;
        left: 0;
        border-radius: 15%;
        width: 80%;
      }
    }
    .productParagraph {
      flex: 4;
      p {
        text-align: left;
        padding: 0 0.1rem;
        font-size: 0.8rem;
        line-height: 1rem;
      }
    }
    .productPack {
      display: none;
    }
    .productPrice {
      display: flex;
      position: absolute;
      bottom: 0px;
      .oldPrice {
        text-decoration: line-through;
        color: red;
        margin-top: -1rem;
      }
      .price2 {
        margin-left: -4rem;
        font-size: 1.2rem;
        font-weight: 500;
        color: $green1;
      }
    }
    .productButton {
      position: absolute;
      font-size: 0.7rem;
      line-height: 1.2rem;
      bottom: 5px;
      right: 5px;
    }
  }

  .product {
    display: flex;
    flex-direction: row;
  }
  .product__desc {
    display: none;
  }

  @keyframes prdoucts__slader {
    0% {
      transform: translateX(350%);
    }
    100% {
      transform: translateX(-750%);
    }
  }
}
.product.table {
  display: flex;
  border-bottom: 1px solid $green2;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  .product-top {
    .productImg {
      img {
        height: 100%;
      }
    }
    .productParagraph {
      display: none;
    }
    .productPrice {
      .oldPrice {
        text-decoration: line-through;
        color: red;
      }
    }
  }
  .product__desc {
    text-align: justify;
    color: $green2;
    font-weight: 600;
    padding-bottom: 1rem;
    p {
      font-size: 0.8rem;
    }
    span {
      font-size: 0.9rem;
      color: $green1;
      font-weight: 900;
    }
  }
}
@media screen and(min-width:768px) {
  .product__home {
    .product-top {
      margin: 0.8rem auto;
      height: 25vh;

      .productName {
        h4 {
          font-size: 0.8em;
          line-height: 1.4rem;
        }
      }
      .productPrice {
        bottom: 20px;
        .price2 {
          line-height: 1.1rem;
          width: 120px;
          position: absolute;
          margin-top: 0.5rem;
          margin-left: 1rem;
          padding: 0;
        }
      }
      .productName {
        h4 {
          font-size: 0.8rem;
        }
      }
      .productButton {
        button {
          font-size: 0.8rem;
          line-height: 1.2rem;
          margin: 2px auto;
        }
      }
    }
  }
  .product.table {
    flex-direction: column;
    .product-top {
      width: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      .productImg {
        order: 1;
        flex: 1;
        max-height: 25vh;
        img {
          max-width: 60%;
          height: auto;
        }
      }
      .productParagraph {
        display: none;
      }
      .productName {
        order: 2;
        flex: 2;
        h4 {
          font-size: 1.2rem;
        }
      }
      .productPack {
        order: 3;
        flex: 1;
      }
      .productPrice {
        order: 4;
        flex: 1;
        .oldPrice {
          font-weight: 600;
          font-size: 1.1rem;
          line-height: 1.1rem;
        }
        .price2 {
          font-weight: 700;
          line-height: 1.6rem;
          font-size: 1.4rem;
          color: $green1;
        }
        .price1 {
          font-weight: 700;
          font-size: 1.4rem;
        }
      }
      .productButton {
        order: 5;
        flex: 1;
      }
    }
    .product__desc {
      width: 90%;
      margin: 0 2rem;
      p {
        font-size: 1rem;
        span {
          font-size: 1.2rem;
        }
      }
    }
  }
  @keyframes prdoucts__slader {
    0% {
      transform: translateY(350%);
    }
    100% {
      transform: translateY(-650%);
    }
  }
}
