@import "../../index.scss";

.product-main {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  text-align: center;
  margin: auto 5px;
  animation: prdoucts__slader 60s linear infinite;
  border: 1px solid white;
  min-width: 200px;
  height: 140px;

  h2 {
    font-size: 0.8rem;
    line-height: 0.9rem;
    height: 1.2rem;
    vertical-align: middle;
  }
  .product {
    display: flex;
    flex-direction: row;
    img {
      flex: 1;
      border-radius: 15%;
      margin-left: 5px;
      width: auto;
      height: 70px;
    }
    h2 {
      font-size: 0.7em;
    }

    p {
      flex: 1;
      height: 70px;
      text-align: left;
      padding: 0 2px;
      font-size: 0.6em;
      line-height: 16px;
      margin: 2px;
    }
    button {
      position: absolute;
      font-size: 0.7rem;
      line-height: 1.4em;
      bottom: 5px;
      right: 5px;
    }
    .productPrice {
      display: flex;
      position: absolute;
      bottom: 0px;
      left: 10px;

      .price1 {
        font-size: 0.8em;
        font-weight: 500;
        color: black;
        text-decoration: line-through;
        margin-right: 5px;
      }
      .price2 {
        font-size: 1em;
        font-weight: 700;
        color: red;
      }
    }
  }
  @keyframes prdoucts__slader {
    0% {
      transform: translateX(350%);
    }
    100% {
      transform: translateX(-750%);
    }
  }
}

@media screen and(min-width:768px) {
  .product-main {
    width: 90%;
    margin: 10px auto;
    height: 140px;
    &:hover {
      // animation-play-state: paused;
    }
    h2 {
      font-size: 0.8em;
      line-height: 1.4rem;
    }
    .product {
      height: 90px;
      margin-top: -5px;

      h1 {
        font-size: 0.8em;
      }

      p {
        width: 30%;
        height: 100%;
      }
      button {
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin: 2px auto;
      }
      .productPrice {
        bottom: 15px;
        .price2 {
          position: absolute;
          margin-top: 10px;
          margin-left: 20px;
        }
      }
    }
  }
  @keyframes prdoucts__slader {
    0% {
      transform: translateY(350%);
    }
    100% {
      transform: translateY(-650%);
    }
  }
}
