@import "../../index.scss";

.home-div {
  display: flex;
  position: relative;
  .home-left {
    margin-top: 20px;
    margin-left: 2vw;
    height: 20vh;
    width: 20vw;
  }
  .home-center {
    margin-top: 35vh;
    margin-left: 10vw;
  }
  .home-center.move {
    animation: druga-animacija 5s forwards;
  }
  .home-right {
    position: absolute;
    top: 0;
    right: 30px;
    background: rgba(184, 184, 184, 0.507);
    width: 20vw;
    height: 85vh;
    animation: prva-animacija 1.5s;
    overflow: hidden;

    h6 {
      color: white;
      margin: 5px 5px 0 5px;
      padding: 3px 0;
      text-align: center;
      background: rgba(107, 107, 107, 0.616);
      border-radius: 5px;

      // margin: 0;
    }
  }
}

.kartica1 {
  color: $green1;
  .kartica1-tekst {
    background: transparent;
    margin-bottom: 20px;
    color: white;
    padding-top: 1rem;
    font-size: 1.2rem;
  }
}

.kartica2 {
  margin: 80px 1vw 0 0;
  border: 1px solid white;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.14);
  .kartica2-phone {
    font-weight: bold;
    i {
      margin-right: 5px;
    }
  }

  .kartica2-tekst {
    font-size: 1.1em;
    line-height: 1.4em;
    span {
      // font-size: 1.1em;
      color: $green1;
      font-weight: bold;
    }
  }
}
@keyframes prva-animacija {
  from {
    transform: translateX(400%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes druga-animacija {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(-160%);
  }
  100% {
    transform: translateX(-50%);
  }
}
