@import "../../index.scss";

.home__div {
  display: flex;
  flex-direction: column;
  .home__products {
    width: 100%;
    height: 10rem;
    animation: prdoucts__slader 1.5s;
    h6 {
      height: 1.6rem;
      color: white;
      margin: 0;
      padding: 3px 0;
      text-align: center;
      background: $green2;
      border-radius: 0.25rem;
      border: 0.5px solid white;
    }
    .home__product {
      position: relative;
      display: flex;
      overflow: hidden;
      height: 100%;
      background: rgba(233, 233, 233, 0.87);
      border-radius: 0.2rem;
    }
    .home__product:before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 10%;
      content: " ";
      background: url("../../img/logo.png");
      background-size: 100% 100%;
      width: 220px;
      height: 140px;
      margin: auto;
      opacity: 0.1;
    }
  }
}

@keyframes products__slider {
  from {
    transform: translateX(400%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes druga-animacija {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(-160%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and(min-width:768px) {
  .home__div {
    position: relative;
    .home__left {
      width: 50vw;
    }
    .home__center {
      position: fixed;
      right: 100px;
      bottom: 80px;
    }
    .home__center.move {
      animation: druga-animacija 5s forwards;
    }

    .home__products {
      position: fixed;
      top: 5.5rem;
      right: 1.5rem;
      width: 250px;
      height: 70vh;
      .home__product {
        display: inline-block;
        margin: 0 0.6rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .home__product:before {
        position: absolute;
        left: auto;
        top: 50%;
        transform: translateY(-50%);
        width: 220px;
        height: 40%;
      }
    }
  }
}
