@import "../../index.scss";

.infoObjekta {
  position: absolute;
  display: flex;
  background: rgb(10, 70, 20);
  z-index: 200;
  transform: translateX(-400%);
  transition: transform 1.5s ease-in-out;
  text-align: center;
  color: white;
  border: 10px solid white;
  .info-picture {
    flex: 1;
    img {
      width: 100%;
    }
  }
  .info-text {
    flex: 1;
    h1 {
      padding-top: 20px;
      font-size: 1.2em;
      text-transform: uppercase;
    }
    h2 {
      font-size: 1.2em;
    }
    p {
      padding: 0 20px;
      text-align: justify;
    }
    button {
      font-size: 1.2em;
      padding: 5px 15px;
      margin-top: 10px;
    }
  }

  .info-close {
    position: fixed;
    height: 100%;
    width: 100%;

    i {
      position: absolute;
      top: 8px;
      right: 10px;
      font-size: 1.2em;
      cursor: pointer;
      transition: all 0.3s linear;
      opacity: 1;
      color: white;
    }
  }
}

.infoObjekta.open {
  transform: translateX(0);
}

@media screen and(min-width:768px) {
  .infoObjekta {
    position: absolute;
    display: flex;
    left: 20%;
    width: 60%;
    background: rgb(10, 70, 20);
    z-index: 200;
    transform: translateX(-400%);
    transition: transform 1.5s ease-in-out;
    text-align: center;
    color: white;
    .info-picture {
      img {
        width: auto;
        height: 100%;
      }
    }
    .info-text {
      h1 {
        letter-spacing: 4px;
        padding-top: 50px;
        color: white;
        font-size: 1.5rem;
        text-transform: uppercase;
      }
      h2 {
        color: white;
        padding-top: 45px;
      }
      button {
        font-size: 1.5em;
        padding: 5px 25px;
      }
    }

    .info-close {
      position: fixed;
      height: 100%;
      width: 100%;

      i {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 1.2em;
        cursor: pointer;
        transition: all 0.3s linear;
        opacity: 1;
        color: white;
      }
    }
  }

  .infoObjekta.open {
    transform: translateX(0);
  }
}
