@import "../../index.scss";

.action__product {
  top: 15vh;
  position: fixed;
  z-index: 200;
  transform: translateX(-400%);
  transition: transform 1.5s ease-in-out;
  margin: 0 auto;
  img {
    width: 100%;
    max-width: 320px;
  }

  .info__text {
    display: none;
  }

  .info-close {
    position: absolute;
    top: -25px;
    background-color: white;
    width: 25px;
    height: 25px;
    right: 0px;
    border-bottom: none;
    z-index: +999;
    i {
      font-size: 1.2rem;
      cursor: pointer;
      transition: all 0.3s linear;
      color: green;
    }
  }
}

.action__product.open {
  transform: translateX(0);
}

@media screen and(min-width:768px) {
  .action__product {
    top: 10vh;
    position: fixed;
    display: flex;
    max-width: 550px;
    z-index: 200;
    transform: translateX(-400%);
    transition: transform 1.5s ease-in-out;
    margin: 0 auto;
    color: white;
    border: 1px solid yellowgreen;
    img {
      width: 350px;
      height: 100%;
    }
    .info__text {
      display: flex;
      flex-direction: column;
      background: #0b59a9;
      background: linear-gradient(to top, #0b59a9 30%, #024c86 80%);
      border-left: 5px double white;
      text-align: center;
      h1 {
        padding-top: 20px;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1.2rem;
        padding-top: 20px;
      }
      p {
        padding: 0 20px;
        text-align: justify;
      }
      button {
        width: 150px;
        position: fixed;
        bottom: 10px;
      }
    }

    .info-close {
      position: absolute;

      i {
        border: 1px solid blue;
        font-size: 1.2em;
        cursor: pointer;
        transition: all 0.3s linear;
      }
    }
  }

  .action__product.open {
    transform: translateX(0);
  }
}
