@import "../../index";

.pagination {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100px;
  height: 30px;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  div {
    text-align: center;
    border-radius: 50%;
    border: 1px solid $green1;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: $green1;
    font-weight: 600;
    cursor: pointer;
  }
  .open {
    background: $green1;
    color: white;
  }
}
