@import "../../index.scss";

.marquee__bottom {
  display: none;
}

@media screen and(min-width:768px) {
  .marquee__bottom {
    position: fixed;
    display: inline-block;
    bottom: 10px;
    background: rgba(219, 219, 219, 0.774);
    width: 100vw;
    height: 30px;
    color: rgb(36, 36, 36);
    overflow: hidden;
    border-bottom: 1px solid rgb(255, 255, 255);

    span {
      color: green;
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 5px;
    }
    p {
      left: 0px;
      font-weight: 600;
      animation-name: marquee-animation;
      animation-duration: 32s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
}
@keyframes marquee-animation {
  0% {
    transform: translateX(1300px);
  }
  100% {
    transform: translateX(-900px);
  }
}
