@import "../../index.scss";

.team {
  text-align: center;
  width: 90%;
  background: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  padding-bottom: 30px;

  .team__members > div {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid $green2;
    .member__pic {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 25%;
      filter: drop-shadow(2px 5px 8px grey);
    }
    .member__data {
      flex: 2;
      h3 {
        font-size: 1.1rem;
      }
      h4 {
        font-size: 1rem;
        color: $green2;
      }
      p {
        padding: 0.5rem;
        text-align: justify;
        color: $green2;
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
    &:last-child {
      border: none;
    }
    .member__data > div {
      display: flex;
      flex-direction: column;
      color: white;
      align-items: center;
      span {
        box-shadow: 1px 3px 5px gray;
        width: 80%;
        margin-bottom: 0.2rem;
        font-size: 0.8rem;
        background: $green3;
        border-radius: 0.3rem;
      }
      :last-child {
        margin-top: 0.3rem;
        background: $green1;
      }
    }
  }
}
@media screen and(min-width:768px) {
  .team {
    margin: 0 auto;
    position: relative;
    border: 1px solid white;

    .team__members > div {
      flex-direction: row;
      width: 70%;
      margin: 2rem auto;
      text-align: left;
      border-radius: 1rem;
      box-shadow: 1px 2px 10px $green2;
      img {
        width: 80%;
      }
      .member__data {
        padding: 1.5rem 2rem;
        h3 {
          color: $green2;
          font-size: 1.5rem;
          text-shadow: 1px 1px 2px $green1;
        }
        h4 {
          padding-bottom: 0.3rem;
          font-size: 1.3rem;
        }
        p {
          padding: 1rem 0 0 0;
          font-size: 1.1rem;
        }
      }
      .member__data > div {
        display: inline-block;
        span {
          width: 100%;
          font-size: 1rem;
          margin-right: 0.3rem;
          padding: 0 0.5rem;
        }
      }
    }
  }
}
