@import "../../index.scss";

.footer {
  width: 100%;
  border-top: 2px solid $green1;
  font-size: 1.1rem;
  font-weight: 400;
  background: rgba(0, 128, 0, 0.8);
  color: $green1;
  color: white;
  padding: 10px 20px;
  .footer__top {
    display: flex;
    justify-content: space-between;
    div {
      flex: 1;
    }
    .footer__logo {
      text-align: center;
      img {
        width: 70%;
        height: auto;
      }
    }
    .footer__links {
      flex: 4;
      display: flex;
      align-items: center;
      .links {
        font-size: 1.2rem;
        text-decoration: none;
        color: white;
        opacity: 0.8;
        margin: 0 1rem;
        &:hover {
          opacity: 1;
        }
      }
    }
    .footer__partners {
      flex: 2;
      text-align: center;
    }
  }
  .footer__bottom {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-style: italic;
    opacity: 0.7;
    padding-top: 10px;
    span {
      font-weight: 800;
    }
    &:hover {
      color: white;
    }
  }
}
