@import "../../index.scss";

.footer {
  width: 100%;
  border-top: 2px solid $green1;
  font-size: 1.1rem;
  font-weight: 400;
  background: $green2;
  color: white;
  line-height: 3rem;
  padding-left: 20px;
  .footer__top {
    display: flex;
    justify-content: space-between;
    div {
      flex: 1;
    }
  }
  .footer__bottom {
    span {
      font-style: italic;
      font-weight: 800;
    }
  }
}
