@import "../../index.scss";

.jobs {
  text-align: center;
  width: 90vw;
  background: rgba(255, 255, 255, 0.89);
  margin: 0 auto;
  padding: 10px;
  .team__members > div {
    display: flex;
    border-bottom: 1px solid $green2;
    .team__pic {
      flex: 1;
      text-align: center;
    }
    img {
      width: 70%;
    }
    div {
      flex: 2;
      p {
        font-size: 0.8rem;
      }
    }
  }
}
.jobs > div > h1 {
  font-size: 1.4rem;
}
.jobs > div > p {
  font-size: 1rem;
  padding-bottom: 5px;
}
@media screen and(min-width:768px) {
  .jobs {
    .team__members > div {
      width: 80%;
      margin: 0 auto;
      text-align: left;
      div {
        flex: 4;
        padding-top: 10px;
        h2 {
          font-size: 1.6rem;
        }
        h3 {
          font-size: 1.2rem;
          color: $green2;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}
