@import "../../index.scss";

.bars__div {
  display: flex;
  border-bottom: 2px solid $green2;
  min-width: 300px;
  img {
    margin: 0 30px;
    height: 50px;
  }
}

@media screen and(min-width:768px) {
  .bars__div {
    // width: 100vw;
    img {
      height: 75px;
    }
  }
  .bars__links {
    // border: 1px solid red;
    // width: 70%;
  }
}
@media screen and(min-width:968px) {
  .bars__links {
    width: 80%;
  }
}
