@import "../../index.scss";

.bars__div {
  display: flex;
  border-bottom: 2px solid $green2;
}
.bars__logo {
  margin: 0 10px;
  text-align: center;
  img {
    margin-left: 5px;
    height: 50px;
  }
}
@media screen and(min-width:768px) {
  .bars__div {
    width: 100vw;
  }
  .bars__logo {
    justify-content: center;
    align-items: center;
    img {
      height: 75px;
    }
  }
  .bars__links {
    width: 80%;
  }
}
@media screen and(min-width:968px) {
  .bars__links {
    width: 70%;
  }
}
