@import "../../index.scss";

.bars {
  display: flex;
  border-bottom: 2px solid $green2;
  min-width: 300px;
  height: 10vh;
  .bars__logo {
    display: flex;
    width: calc(4rem + 10%);
    // border: 1px solid red;
    justify-content: center;
    // margin: 0 0.2rem;
    img {
      // margin: 0 0.8rem;
      width: auto;
      height: 100%;
    }
  }
}

@media screen and(min-width:768px) {
  .bars {
    height: 12vh;
    // flex-direction: column;
    .bars__logo {
      width: 10%;
      img {
        // width: 100%;
        // height: auto;
        // height: 100%;
        // width: auto;
        height: 100%;
      }
    }
    .bars__links {
      width: 100%;
      // border: 1px solid yellow;
      display: flex;
      flex-direction: column;
    }
  }
}
@media screen and(min-width:968px) {
  .bars__links {
    // width: 100%;
    margin: 0 auto;
  }
}
// @media screen and(max-width:768px) {
//   .bars__div {
//     background: rgba(0, 0, 0, 0.555);
//   }
// }
