@import "../../index.scss";

.table__main {
  margin: 0 auto;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  .product__header {
    display: flex;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 3px solid $green2;
    div {
      flex: 1;
      font-size: 1.2rem;
    }
  }
  .product__header > div:nth-child(2) {
    flex: 2;
  }
}
@media screen and(max-width:768px) {
  .table__main {
    .product__header {
      display: none;
      border: 1px solid red;
    }
  }
}
