@import "../../index.scss";

.products {
  width: 90vw;
  // height: 100vh;
  background: rgba(255, 255, 255, 0.89);
  margin: 0 auto;
  // padding-top: 25px;
}

@media screen and(width:768px) {
  .products {
    padding-top: 25px;
  }
}
