@import "../../../index.scss";

.product-main {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.623);
  border-radius: 5px;
  text-align: center;
  margin: 0px 5px 0 5px;
  animation: treca-animacija 60s linear infinite;
  border: 1px solid white;
  min-width: 200px;
  height: 125px;

  h2 {
    line-height: 0.9rem;
    height: 1.2rem;
    font-size: 0.8rem;
    vertical-align: middle;
  }
  .product {
    display: flex;
    flex-direction: row;
    img {
      flex: 1;
      border-radius: 15%;
      margin-left: 5px;
      width: auto;
      height: 70px;
    }
    h2 {
      font-size: 0.7em;
    }

    p {
      flex: 1;
      height: 70px;
      text-align: left;
      padding: 0 2px;
      font-size: 0.6em;
      line-height: 16px;
      margin: 2px;
    }
    button {
      position: absolute;
      font-size: 0.7rem;
      line-height: 1.4em;
      bottom: 5px;
      right: 5px;
    }
    .productPrice {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 10px;

      .price1 {
        font-size: 0.8em;
        font-weight: 500;
        color: black;
        text-decoration: line-through;
        margin-right: 5px;
      }
      .price2 {
        font-size: 1em;
        font-weight: 700;
        color: red;
      }
    }
  }
  @keyframes treca-animacija {
    0% {
      transform: translateX(350%);
    }
    100% {
      transform: translateX(-750%);
    }
  }
}

@media screen and(min-width:768px) {
  .product-main {
    background: rgba(255, 255, 255, 0.623);
    border-radius: 5px;
    text-align: center;
    animation: treca-animacija 60s linear infinite;
    width: 90%;
    margin: 5px auto;
    height: 160px;
    h2 {
      font-size: 0.8em;
      line-height: 1.4rem;
    }
    .product {
      display: flex !important;
      flex-direction: row;
      height: 90px;
      margin-top: -5px;
      img {
        flex: 1;
        border-radius: 15%;
        margin-left: 5px;
        height: 70px;
      }
      h1 {
        font-size: 0.8em;
      }

      p {
        flex: 1;
        width: 30%;
        height: 100%;
        text-align: left;
        padding: 0 2px;
        font-size: 0.8em;
        line-height: 16px;
        margin: 2px;
      }
      button {
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin: 2px auto;
      }
      .productPrice {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 10px;

        .price1 {
          font-size: 0.8em;
          font-weight: 500;
          color: black;
          text-decoration: line-through;
          margin-right: 5px;
        }
        .price2 {
          font-size: 1em;
          font-weight: 700;
          color: red;
        }
      }
    }
  }
  @keyframes treca-animacija {
    0% {
      transform: translateY(350%);
    }
    100% {
      transform: translateY(-750%);
    }
  }
}
