@import "../../index.scss";

.newsDiv {
  display: none;
}
.newsDiv.small {
  animation: smallerBanner 1s linear;
}
@keyframes peta-animacija {
  0% {
    transform: translateX(1200px);
  }
  100% {
    transform: translateX(-900px);
  }
}
@keyframes smallerBanner {
  from {
    width: 100vw;
  }
  to {
    width: 100vw;
  }
}

@media screen and(min-width:768px) {
  .newsDiv {
    position: fixed;
    display: inline-block;
    bottom: 10px;
    background: rgba(219, 219, 219, 0.774);
    width: 100vw;
    height: 30px;
    color: rgb(2, 2, 2);
    overflow: hidden;
    border-top: 1px solid rgb(44, 23, 6);
    border-bottom: 1px solid rgb(44, 23, 6);

    span {
      color: green;
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 5px;
    }
    p {
      left: 0px;
      font-weight: 600;
      animation-name: peta-animacija;
      animation-duration: 18s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
  .newsDiv.small {
    width: 100vw;
    animation: smallerBanner 1s linear;
  }
}
