@import "../../index.scss";

.newsDiv {
  margin-top: 15px;
  background: rgba(134, 125, 116, 0.726);
  width: 80vw;
  height: 30px;
  color: rgb(2, 2, 2);
  overflow: hidden;
  border-top: 1px solid rgb(44, 23, 6);
  border-bottom: 1px solid rgb(44, 23, 6);

  span {
    color: rgb(90, 5, 5);
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5px;
  }
  p {
    left: 0px;
    font-weight: 600;
    animation-name: peta-animacija;
    animation-duration: 18s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes peta-animacija {
  0% {
    transform: translateX(1200px);
  }
  100% {
    transform: translateX(-900px);
  }
}
