@import "./index.scss";

.app {
  background: linear-gradient(to bottom, white 8%, rgba(76, 104, 110, 0.4) 30%),
    url("img/pozadina9.jpeg");
  background: linear-gradient(
      to bottom,
      rgba(224, 224, 224, 0.9) 8%,
      rgba(76, 104, 110, 0.4) 30%
    ),
    url("img/pozadina9.jpeg");
  background-size: cover;
  background-position: 100% 70%;
  min-height: 100vh;
  overflow-x: scroll;
  h1 {
    text-align: center;

    color: $green2;
  }
}

@media screen and(min-width:768px) {
  .app {
    background: linear-gradient(
        to bottom,
        white 11%,
        rgba(39, 44, 40, 0.55) 35%
      ),
      url("img/pozadina9.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 40%;
    overflow: hidden;
    h1 {
      font-size: 2.5rem;
    }
  }
}
@media screen and(min-width:2400px) {
  .app {
    margin: 0 auto;
    background: linear-gradient(to bottom, white 6%, rgba(36, 41, 43, 0.35) 30%),
      url("img/pozadina9.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
