@import "./index.scss";

.app {
  background: linear-gradient(to bottom, white 8%, rgba(76, 104, 110, 0.4) 30%),
    url("img/pozadina9.jpeg");
  background-size: cover;
  background-position: 100% 70%;
  min-height: 100vh;
  overflow: hidden;
}

@media screen and(min-width:768px) {
  .app {
    background: linear-gradient(
        to bottom,
        white 11%,
        rgba(36, 41, 43, 0.35) 30%
      ),
      url("img/pozadina9.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 40%;
  }
}
@media screen and(min-width:1400px) {
  .app {
    margin: 0 auto;
  }
}
