@import "./index.scss";

.app {
  display: fixed;
  background: linear-gradient(to bottom, white 8%, rgba(89, 152, 172, 0.26) 30%),
    url("img/pozadina8.jpeg");
  background: linear-gradient(to bottom, white 8%, rgba(76, 104, 110, 0.4) 30%),
    url("img/pozadina8.jpeg");
  background-size: cover;
  background-position: 100% 70%;
  min-height: 100vh;
  overflow: hidden;
}

@media screen and(min-width:768px) {
  .app {
    background: linear-gradient(
        to bottom,
        white 12%,
        rgba(89, 152, 172, 0.26) 30%
      ),
      url("img/pozadina8.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 40%;
  }
}
@media screen and(min-width:1400px) {
  .app {
    // max-width: 2200px;
    margin: 0 auto;
  }
}
