body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0 0;
  padding: 0 0;
  font-size: 16px;
  line-height: 1.8em;
  box-sizing: border-box;
  // transition: all 2s;
  font-family: "Sarala", sans-serif;
}

$green1: rgb(0, 179, 0);
$green2: rgb(0, 77, 0);
$green3: rgb(0, 136, 0);
$orange: #ba2d0b;
$dark1: #754322;
$dark2: #99621e;
