html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0 0;
  padding: 0 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Sarala", sans-serif;
  transition: 2s all east-out;
}

$green1: rgb(0, 179, 0);
$green2: rgb(5, 101, 38);
$green3: rgb(0, 136, 0);
$orange: #ba2d0b;
$dark1: #754322;
$dark2: #99621e;

@media screen and(min-width:1400px) {
  html {
    margin: 0 auto;
  }
  * {
    font-size: 1rem;
  }
}
@media screen and(min-width:1800px) {
  * {
    font-size: 1.4rem;
  }
}
@media screen and(min-width:2200px) {
  * {
    font-size: 1.6rem;
  }
}
@media screen and(min-width:2800px) {
  * {
    font-size: 1.8rem;
  }
}
