@import "../../index.scss";

.activities {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.89);
  margin: 0 auto;
  padding: 25px;
  div {
    text-align: center;
    color: $green2;
    font-size: 2rem;
  }
}
