@import "../../index.scss";

.bars__div {
  // border: 1px solid blue;
  display: flex;
  border-bottom: 2px solid $green2;
  // max-width: 100%;
}
.bars__logo {
  text-align: center;
  img {
    height: 10vh;
  }
}
@media screen and(min-width:768px) {
  .appBars {
    height: 15vh;
    width: 100vw;
    border-bottom: 2px solid $green2;
  }
  .logo {
    text-align: center;
    img {
      height: 15vh;
    }
  }
}
