@import "../../../index.scss";

.table {
  border-top: none;
  width: 90vw;
  .table__choise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    h3 {
      margin-right: 10px;
      font-size: 1rem;
    }
  }

  table {
    margin: 0 auto;
    border: none;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.8rem;
    img {
      margin: 0;
      height: 50px;
    }
  }
  table tr {
    border-bottom: 1px solid $dark1;
  }
  table td {
    padding: 0.3em;

    button {
      background-color: $green1;
      border: none;
    }
  }
  tbody tr:nth-child(odd) td {
    background: rgba(173, 194, 173, 0.253);
  }
  table td:nth-child(2) {
    text-align: left;
  }
  table td:nth-child(4) {
    text-align: right;
  }
}
@media screen and(width:768px) {
  .table {
    .table__choise {
      flex-direction: column;
      padding: 15px 0;
    }
    table {
      width: 90%;
    }
  }
}
