@import "../../../index.scss";

.table {
  border-top: none;
  height: 100vh;
  table {
    margin: 10px auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.8rem;
    width: 90%;
    img {
      width: auto;
      height: 50px;
    }
  }
  table tr {
    border-bottom: 1px solid $dark1;
  }
  table td {
    padding: 0.3em;

    button {
      background-color: $green1;
      border: none;
    }
  }
  tbody tr:nth-child(odd) td {
    background: rgba(173, 194, 173, 0.253);
  }
  tbody tr:last-child {
    border-bottom: none;
  }
  table td:nth-child(2) {
    text-align: left;
  }
  table td:nth-child(4) {
    text-align: right;
  }
}
@media screen and(min-width:768px) {
  table {
    // width: 90%;
  }
}
