@import "../../index.scss";

.banner {
  background-image: url("./img/background.jpg");
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  color: white;
  h3 {
    margin: 0;
  }
  p {
    line-height: 1.4em;
    font-size: 0.8rem;
    padding: 0 5px;
  }
}
@media screen and(min-width:768px) {
  .banner {
    width: 90%;
    p {
      font-size: 1rem;
      line-height: 1.6rem;
    }
  }
}
