@import "../../../index.scss";

.topBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 4rem;
  .topBar__link {
    font-size: 0.8rem;
    line-height: 0.8rem;
    text-align: left;
    text-decoration: none;
    color: $green2;
    text-decoration: none;
    i {
      color: $green2;
      font-size: 1em;
      margin-right: 0.2rem;
    }
  }
}

@media screen and(min-width:768px) {
  .topBar {
    flex-direction: row;
    width: 100%;
    padding: 0 8vw;
    height: auto;
    justify-content: space-around;
    .topBar__link {
      font-size: 1rem;
      line-height: 1.3rem;
      font-weight: 500;
      padding: 0.3rem;
      i {
        margin-right: 0.5rem;
      }
    }
  }
}
// @media screen and(max-width:768px) {
//   .topBar {
//     // background: $green2;
//     .topBar__link {
//       color: white;
//     }
//   }
// }
